{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Public Goods Game Intro
{% endblock %}


{% block content %}

    <div id="juhochart"
        style= "min-width: 300px; height:400px; margin: 0 auto">
    </div>

{% include 'publicgood/ohjeet.html' %}

<br>Check question: If you decide to contribute 0 everybody will allways get 0.  Is this true?
{% formfield player.check %}




    {% next_button %}

    <div class="btn btn-lg btn-success">Nationality check</div>
    <div class="juho">I am Finn</div>
{% endblock %}

{% block scripts %}

     <script src="https://code.highcharts.com/highcharts.js"></script>


    <script>
        $(function () {
           $('#juhochart').highcharts ({
                series: {{series|json}}
          });
        });
    </script>
{% endblock %}