{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Charity game
{% endblock %}

{% block content %}

<table class="table table-hover table-striped">
    {%for company in companies %}
    <tr>
        <td>{{ company }}</td>

    </tr>
      {% endfor %}
</table>

<div>Your endowment: <strong>{{player.endowment}}</strong></div>
<img src="{% static image_1 %}",  width="300"/>

<img src="{% static image_2 %}",  width="300"/>

<br>

Which one would you choose:

{%formfield player.charity_donation %}

{%formfield player.don1 %}
{%formfield player.don2 %}

{% next_button %}

{% endblock %}
